@import url("https://fonts.googleapis.com/css?family=Work+Sans");
html {
  margin: 0;
  scroll-behavior: smooth;
}
:root {
  font-family: "Work Sans", sans-serif;
}

body {
  max-width: 980px;
  margin: auto;
}

header .logo {
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
  text-align: center;
  color: #222629;
  margin: 0;
  font-weight: bold;
}
header .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  color: snow;
  margin: 0;
  height: 40px;
}
.flex {
  display: flex;
  justify-content: center;
  background-color: #86c232;
}
.toggle-nav {
  display: none;
}
header .menu li {
  list-style-type: none;
  background: #222629;
  padding: 6px;
  width: 25%;
  text-align: center;
}
header .menu li:nth-child(even){
  background: #474b4f;
}
header .menu li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  color: snow;
  height: 40px;
}
header .menu li a:hover {
  text-decoration: underline;
}
header .big-banner {
  background-image: url(../IMG/investment2.jpg);
  background-position: center;
  background-size: cover;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header .big-banner h1 {
  font-size: 10rem;
  text-align: center;
  margin: 0;
  border-bottom: 10px solid black;
  font-weight: bold;
}
header .big-banner p {
  display: flex;
  justify-content: flex-start;
  font-size: 2rem;
  margin: 0;
  margin-top: 10px;
}

header .big-banner .calltoaction {
  align-items: center;
  margin-bottom: 30px;
  width: 95%;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  margin-top: 40px;
}
.calltoaction form{
  display: flex;
  justify-content: space-evenly;
}
.calltoaction input{
  border-radius: 5px;
  padding: 7px 30px;
  font-size: 1rem;
}
.form-but{
    padding: 6px 50px;
    border: 1px black;
    border-radius: 5px;
    background: #86c232;
    font-size: 1rem;
    font-weight: bold;
    color:snow;
}
.main {
  background-color: #222629;
}

.main .wht {
  text-align: center;
  height: 100%;
}
 .tfi {
  text-align: center;
  color: snow;
  font-size: 2rem;
}
.wht h2 {
  background-color: #222629;
  color: snow;
  font-size: 2rem;
  margin: 0px;
  padding-top: 25px;
}
.main .wht p {
  background-color: #86c232;
  font-size: 22px;
  padding:25px 5px 30px 5px;
  color:#222629;
}
.tools {
  display: grid;
  grid-template-columns: repeat(4, auto);
  text-align: center;
  color: snow;
}
.background1 {
  background-image: url(../IMG/wb-about-us.jpg);
  background-position: center;
  background-size: cover;
  min-height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.background1 h3 {
  text-align: center;
  color: #222629;
  font-size: 2rem;
}
.background1 p {
  color: #222629;
  text-align: center;
  font-size: 22px;
  padding: 20px 5px 20px 5px;
  background: rgba( 256, 256 , 256, 0.3);
}
footer .mainfooter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #222629;
  color: snow;
}
.footer1{
  text-align: center;
}
#con{
  font-size: 2rem;
  text-align: center;
}

footer .mainfooter .footer2 ul {
  text-align: center;
  font-size: 2rem;
}
footer .mainfooter .footer2 li {
  list-style: none;
  font-size: 1rem;
}
.footer3 {
  background-color: #86c232;
  text-align: center;
  font-size: 1.3rem;
  margin: 0; 
}
footer .footer3 p {
  margin: 0 !important;
  padding: 15px;
}
.textarea{
  display: block;
  margin: 0 auto;
  padding: 0 20;
  text-align: center;
}
.form-but-bot{
  background: snow;
  display: block;
  margin: 0 auto;
  height: 25px;
  min-width: 150px;
  margin-bottom: 20px;
}
.footermargin{
  margin: 6px;
  fon
}
@media (max-width: 800px){
  .tools {
    grid-template-columns: repeat(2,auto);
  }
}

/* media queries for mobile  */
@media (max-width: 576px) {
  article {
    padding: 20px 0;
  }
  
  header .logo{
    font-size: 1.5rem;
    text-align: left;
    padding: 0.5rem;
    color: #86c232;
  }
  header .menu {
    flex-direction: column;
    height: auto;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
  }
  header .menu li {
    width: 50%;
  }
  header .menu.open {
    opacity: 1;
    z-index: 10;
    position: relative;
  }
  .menu.open li{
    margin: 5px;
  }
  header .menu li a {
    color:#86c232;
  }
  .flex {
    justify-content: space-around;
    align-items: center;
    background: #222629;
  }
  .toggle-nav {
    display: block;
    font-size: 35px;
    color: black;
    text-decoration: none;
    position: relative;
    color: #86c232;
  }
  header .big-banner {
    min-height: 350px;
    margin-top:-160px;
    
  }
  .mobile-width{
    width: 100%;
  }
  header .big-banner h1 {
    border-bottom: none;
  }
  .mobile-width h1{
    width: 100%;
    background:rgba(0, 0, 0, 0.3);
  }
  header .menu.open .big-banner {
    margin-top: 0;
  }
  header .big-banner .calltoaction {
    display: none;
  }
  header .big-banner p {
    display: none;
  }
  .wht {
    background: #222629;
  }
  .wht h2 {
    text-align: center;
    font-weight: normal;
    color: #86c232;
  }
  .wht p, .background1 p {
    color: white;
    text-align: center;
    padding: 20px 20px 30px 20px ;
  }
  .color-gb{
    background:#474b4f;
  }
  .tools{
    text-align: center;
    color:#86c232;
    grid-template-columns: repeat(1, auto);
  }
  .tfi h1, #tea {
    text-align: center;
    font-size: 2rem;
    color: #86c232;
  }
  .box1 h3, .box2 h3, .box3 h3, .box4 h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .background1{
    background: #86c232;
    color:#222629;
  }
  .background1 #tea{
    color: #222629;
  }
  .background1 p {
    color: #222629;
  }
  .footer2 ul {
    padding: 0;
  }
  #con, .footer2 ul p {
    text-align: center;
    font-size: 1.5rem;
  }
  .mainfooter {
    padding: 20px 10px;
  }
  form input, textarea{
    width: 100%;
    margin: 5px 0;
  }
  button[type="submit"] {
    padding: 3px 20px;
    border-radius: 5px;
    background: #fff;
    margin: 0 auto;
    display: block;
    color: black;
  }
  .footer2 {
    display: flex;
    align-items:center;
    justify-content: center;
  }
  footer .mainfooter .footer2 li {
    font-size: 0.7rem;
  }
  .footer3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer3 p {
    font-size: 1rem;
  }
}
